.container {
  scroll-snap-type: y mandatory; /* enable scroll snap */
  overflow-y: scroll; /* enable scrolling */
  height: 812px; /* set container height */
  width: 375px;
  background-color: #f5f5f5;
}

.panel {
  scroll-snap-align: start; /* snap to the start of each panel */
  height: 812px; /* set panel height */
  width: 375px;
  display: flex;
  justify-content: center;

}

.panel img {
  width: 333px;
  height: 632px;
  border-radius: 24px;
}